# Rename this file to .env.local and set your real values

NEXT_PUBLIC_RUN_MODE='development' # development, production
NEXT_PUBLIC_API_URL_DEV='http://localhost:3000/api' # Optional for non-auth REST endpoints
NEXT_PUBLIC_API_URL_PROD='https://api.example.com' # Optional for non-auth REST endpoints

NEXT_PUBLIC_SUPABASE_URL='https://your-supabase-id.supabase.co'
NEXT_PUBLIC_SUPABASE_ANON_KEY='SUPABASE_ANON_KEY'
NEXT_PUBLIC_SUPABASE_AVATAR_BUCKET='SUPABASE_AVATAR_BUCKET'
NEXT_PUBLIC_SUPABASE_BLOG_COVER_BUCKET='SUPABASE_BLOG_COVER_BUCKET'
NEXT_PUBLIC_SITE_URL='http://localhost:3000'
